*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:linear-gradient(135deg,#ff4d88,#ff99cc);
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    color:white;
    text-align:center;
}

#pin-screen,
#music-screen{
    background:rgba(255,255,255,0.15);
    backdrop-filter:blur(10px);
    padding:30px;
    border-radius:20px;
    width:90%;
    max-width:380px;
    box-shadow:0 0 20px rgba(255,255,255,.3);
}

h1,h2{
    margin-bottom:15px;
}

p{
    margin-bottom:15px;
}

input{
    width:100%;
    padding:12px;
    border:none;
    border-radius:10px;
    outline:none;
    font-size:16px;
    text-align:center;
}

button{
    margin:8px;
    padding:12px 25px;
    border:none;
    border-radius:30px;
    background:#ff0066;
    color:white;
    font-size:16px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    background:#ff3385;
    transform:scale(1.08);
}

#message{
    color:yellow;
    margin-top:15px;
    font-weight:bold;
}

@keyframes glow{
    0%{box-shadow:0 0 10px white;}
    50%{box-shadow:0 0 30px #ff99cc;}
    100%{box-shadow:0 0 10px white;}
}

#pin-screen,
#music-screen{
    animation:glow 2s infinite;
}
